.errors {
    color:red;
}
.invalid {
    border:1px solid red;
}
.btn {
    background-color:#4949e0;
}
.display__none {
    display: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    margin-top:10px;
    margin-bottom: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    border-top:1px solid grey;
    border-bottom: 1px solid grey;
    color:grey;
}

h3 i {
    font-style: normal;
    font-size:16px;
    color:#4949e0;
    margin-right: 15px;
}

.setup__divs {
    padding:20px;
}

.setup__divs h5 {
    color: darkolivegreen;
    margin-bottom: 15px;
}